*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Kohinoor Bangla";
}

.demo-wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.nav-wrapper {
    width: 100%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social {
    width: 110px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social a{
    height: 22px;
}
.backgrounds {
    width: 100vw;
    height: 100vh;
    transition: -webkit-transform ease 0.8s;
    transition: transform ease 0.8s;
    transition: transform ease 0.8s, -webkit-transform ease 0.8s;
}

.bg {
    width: 100%;
    height: 100%;
    padding: 1px;
    display: flex;
    background: dimgrey;
}

.bg-1 {
    background: url("./img/bg1.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.bg-2 .main {
    background: url("./img/bg2.jpg");
    background-size: cover;
    background-position: center;
}


.bg-3 {
    background: url("./img/bg3.jpg");
    flex-direction: row-reverse;
    background-size: cover;
    background-position: center;
}

h1 {
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 3rem;
    text-align: center;
}
/*   SLIDE 1   */
.bg-1__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.bg-1__body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg-1__footer {
    color: #b6b6b6;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.go-down-arrow {
    width: 30px;
    height: 30px;
    margin: 30px 0;
    font-size: 20px;
    border: 1px solid #b6b6b6;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}

/*  MAIN  */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2 {
    font-family: "Kohinoor Bangla";

    font-weight: 300;
    width: 100%;
    text-align: center;
}
.main__title {
    color: #a0cf32;
    font-size: 36px;
}
.main__text {
    color: white;
    max-width: 360px;
    font-size: 32px;
    letter-spacing: -0.32px;
}


/*  SIDE  */
.side {
    width: 427px;
    padding: 50px;
    color: white;
    background-color: #74bf2b;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.side__icon {
    margin: 0 auto;
}

.side__button {
    background: none;
    color: #ffffff;
    width: 151px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin: 0 auto;
    font-family: "Kohinoor Bangla";
    font-size: 18px;
    font-weight: 300;
}




ul.dashed {
    list-style-type: none;
    margin-left: 10px;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "-";
    text-indent: -5px;
    margin-right: 5px;
}

h1 {
    color: #ffffff;
    font-family: "Kohinoor Bangla";
    font-size: 48px;
    font-weight: 300;
}
.go-down-arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}


.input-email {
    width: 200px;
    height: 30px;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid #74bf2b;
    outline: none;
}
.input-email:focus {
    border-bottom: 1px solid #2ebf8e;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: white;
}
::-moz-placeholder { /* Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* IE 10+ */
    color: white;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
}